<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 | TripManager</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <div class="logo" onclick="location.href='/'" style="cursor: pointer;">TripManager</div>
    </header>

    <div class="join-container">
        <h2>로그인</h2>
        <form action="/auth/login" method="post">
            <div class="input-group">
                <label for="id">아이디</label>
                <input type="text" id="id" name="id" required>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
        
            <button type="submit" class="btn-submit">로그인</button>
        </form>
    </div>

</body>
</html>